*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	font-family: 'Roboto', sanserif;
}

body {
	height: 100%;
	background-color: #f9f7f7;
}

.iframe-container {
	height: 100%;
}

#iframer {
	display: block;
	height: 100%;
}

.titlehr {
	display:none;
}
.jumbotron {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #dbe2ef;
	color: #112d4e;
}

.jumbotron h1 {
	font-size: 3rem;
	font-weight: 600;
}

.jumbotron h4 {
	font-size: 1.4rem;
	font-weight: 600;
}

.jumbotron p {
	color: #112d4e;
	font-size: 1rem;
}

.fas, .far {
	padding-right: 10px;
	font-size: 1.5rem;
	color: #112d4e;
}

.main-button {
	max-width: 600px;
	background-color: #112d4e;
	margin: 0 auto;
	color: #f9f7f7;
}

.main-button:hover {
	color: #0056b3;
}

h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #112d4e;
}

ol {
	list-style-position: inside;
}

.ol1 {
	list-style: lower-alpha;
	list-style-position: inside;
}

.ol2 {
	list-style: lower-roman;
	list-style-position: inside;
	padding-left: 15px;
}


.group {
	margin-bottom: 1.5rem;
}

.card {
	background-color: #dbe2ef;
}

.btn-link {
	color: #112d4e;
	text-align: left;
}

.faqs-heading {
	color: #112d4e;
	padding-left: 15px;
	padding-bottom: 15px;
	font-weight: 600;
}


.hotline {
	background-color: #dbe2ef;
}


@media only screen and (max-width: 400px) {

	#title {
		font-size: 2.5rem;
	}

	#instruction {
		text-align: justify;
		font-size: .90rem;
	}

	.titlehr {
		display:block;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	iframe {
		height: 100%;
	}

	#headingOne, #headingTwo, #headingThree
	,#headingFour,#headingFive,#headingSix,
	#headingSeven,#headingEight,#headingNine,
	#headingTen,#headingEleven,#headingTwelve,
	#headingThirteen,#headingFourthteen,#headingFifteen
	,#headingSixteen,#headingSeventeen,#headingEighteen,
	#headingNineteen,#headingTwenty,#headingTwentyOne,
	#headingTwentyTwo,#headingTwentyThree,#headingTwentyFour,
	#headingTwentyFive,#headingTwentySix {
		padding:0;
	}

	#hello {
		padding: 10px;
	}




	
}

@media only screen and (max-width: 900px) {

	#iframer {
		height: 100%;
	}
	
}

/*.group>h3 {
	padding: 20px;
}
*/
/*
.container-fluid {
	height: 100%;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23208099'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

h1,h2,h3 {
	font-family: 'Oxanium', sanserif;
}

#hello {
	padding-top: 20px;
	padding-bottom: 20px;
}

.title {
	margin-right: 20%; 
	margin-left: 20%;
	border-radius: 10px;
	line-height: 100px;
}

.developers {
	margin-right: 20%; 
	margin-left: 20%;
}

.covid {
	margin-right: 20%; 
	margin-left: 20%;
}

.EmergencyHotline {
	margin-right: 20%; 
	margin-left: 20%;
}


@media only screen and (max-width: 400px) {

	.title, .developers, .covid, .EmergencyHotline {
	margin-right: 7.5%; 
	margin-left: 7.5%;
	}

	#hello h1{
	font-size:34px;
	}

	#hello h2{
	font-size: 20px;
	font-style: bolder;
	}

	#hello h3{
	font-size: 16px;
	font-style: bolder;
	}

	#hello p,li {
	font-size: 12px;
	text-align: justify;
	}

	
}*/